<!-- src/main/resources/templates/fragments/menu.html -->
<nav class="site-menu navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item mx-2"><a class="nav-link" th:href="@{/materiels}">Matériel</a></li>
            <li class="nav-item mx-2"><a class="nav-link" th:href="@{/employes}">Employés</a></li>
            <li class="nav-item mx-2"><a class="nav-link" th:href="@{/affectations}">Affectations</a></li>
            <li class="nav-item mx-2"><a class="nav-link" th:href="@{/stats}">Statistiques</a></li>
        </ul>
    </div>
</nav>